body, html {
  margin: 0;
  height: 100vh;
}

body {
  background-image: url("./assets/pexels-marcus-vinícius-a-ribeiro-2825033.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.win-msg {
  height: 15vh;
  padding-top: 10vh;
  text-align: center;
  color: white;
  text-shadow: 5px 2px 7px black;
  margin-bottom: 0;
}

.card-stacks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50vh;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

.player-cards {
  margin-top: 68px;
}

.stack-one,
.discard-pile,
.stack-two {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 30vh;
  background-image: url("./assets/back.png");
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}

.win-counter {
  color: white;
  font-size: 150%;
  text-align: center;
}












.hidden {
  display: none;
}
